<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Books</title>
    <h1> Delete Book</h1>
</head>
<body>
    {% for i in books %}
        {% if i.id == book_id|string %}
      <p1>Are you sure you want to delete {{i.title}}</p1>
      <form action = "{{ url_for('deleteBook', book_id = book_id) }}" method = 'POST'><input type='submit' value='Delete'>
        {% endif %}
    {% endfor %}

    <a href="{{ url_for('showBook')}}">Cancel</a>

        </form>
</body>
</html>