<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <h1> Edit Book</h1>
</head>
    {% for i in books %}
        {% if i.id == book_id|string %}
            {% set placeHolder = i.title %}
            <p1>Name</p1>
            <form action = "{{ url_for('editBook', book_id = book_id) }}" method = 'POST'><input type='text' size='30' name='name' placeholder="{{i.title}}">  <input type='submit' value='Submit'>
            <a href="{{ url_for('showBook')}}">Cancel</a>
        {% endif %}
        {% endfor %}
<body>
</form>
</body>
</html>