<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
    <h1> New Book</h1>
</head>
<body>
    <p1>Name</p1>
    <form action = "{{ url_for('newBook')}}" method = 'POST'><input type='text' size='30' name='name'>  <input type='submit' value='Create'>
</form>
</body>
</html>