<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
    <h1> Books </h1>
<body>
    {% if books == [] %}
        <p>No books exist</p>
    {% else %}
        {% for i in books %}
            <div> {{i.title}}
            <br>  <a href="{{ url_for('editBook', book_id = i.id) }}">Edit books</a>
            <br>  <a href="{{ url_for('deleteBook', book_id = i.id) }}">Delete books</a>

            </div>
            <br/> <br/>

            {% endfor %}{% endif %}
</body> </html>
</body>
</html>